
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Inter-Regular_1.otf) format(opentype);
}

		
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url(../font/Inter-Light_1.otf) format(opentype);
}

		
@font-face {
  font-family: 'Inspiration';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Inspiration-Regular_1.ttf) format(truetype);
}

		