
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url(../font/Inter-Light_1.otf) format(opentype);
}

		
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url(../font/Inter-Bold_1.otf) format(opentype);
}

		
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Inter-Regular_1.otf) format(opentype);
}

		