
@font-face {
  font-family: 'Fraunces 72pt';
  font-style: normal;
  font-weight: 600;
  src: url(../font/Fraunces_72pt-SemiBoldItalic.ttf) format(truetype);
}

		
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Inter-Regular_1.otf) format(opentype);
}

		
@font-face {
  font-family: 'Fraunces 72pt';
  font-style: normal;
  font-weight: 700;
  src: url(../font/Fraunces_72pt-BoldItalic.ttf) format(truetype);
}

		
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url(../font/Inter_1.ttf) format(truetype);
}

		