.col-right{ padding-left: 0; }

.sec-num{ width:110px; height:auto; }

.title{
margin:0 0 26px;
font-size:60px;
line-height:40px;
font-weight:700;
color:var(--wine);
}

.copy{
font-size:16px;
line-height:25px;
font-weight:400;
letter-spacing:0.05em;
}

.copy p{ margin:0 0 16px; }
.copy strong{ font-weight:700; }

/* HERO */
.hero{
  padding-top: 53px;
  .hero{
  padding-top: 20px;
padding-bottom: 72px; /* mantém o respiro padrão */
}
